apiVersion: v1
kind: Service
metadata:
  name: nest-app-service
  namespace: default
spec:
  selector:
    app: fiap-app
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: LoadBalancer